{% extends "base.html" %}
{% from "form-macros.html" import render_field %}

{% block page_title %}
Estimate Diabetes
{% endblock %}

{% block H1_Description %}
Add Person Info
{% endblock %}

{% block H1_Content %}
Please fill the form in the below section to get an estimate if the person is diabetic.
{% endblock %}

{% block H2_Content %}
<section>
    <form action="" enctype="multipart/form-data" method="post">
        {{ form.csrf_token }}
<div class="row">
    <div class="col-md-5">
        <h3>Person's Health Information</h3>
        <table>
            {{ render_field(form.personGlucose) }}
            {{ render_field(form.personBMI) }}
            {{ render_field(form.personAge) }}
        </table>
    </div>
    <table>
        <tr class="submit">
            <td></td>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr>
    </table>
    </div>
    </form>
    </section>
{% endblock %}