{% extends "base.html" %}

{% block page_title %}
Machine Learning Project
{% endblock %}

{% block H1_Description %}
Welcome to the website!
{% endblock %}

{% block H1_Content %}
A project for our Emerging Trends & Innovation course at CNA. The focus of this course has been Machine Learning. The
objective of this assessment is to evaluate our ability to integrate machine learning models into a Flask application,
gather user inputs using forms, present predictions, and create a user-friendly interface.
{% endblock %}

{% block H2_Description %}
Please choose from the options on the menu above!
{% endblock %}

{% block H2_Content %}
Miles Per Galon (MPG) estimator and Diabetes estimator are the two machine learning models available. The MPG Estimator
will take the car's cylinder number, horsepower, weight, year, and origin, and estimate the MPG of the car. The Diabetes
Estimator will take the person's glucose, BMI, and age, and estimate if that person is diabetic.
{% endblock %}